apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

resources:
  # Official Sealed Secrets controller release
  - https://github.com/bitnami-labs/sealed-secrets/releases/download/v0.26.0/controller.yaml
